<!DOCTYPE html>
<html>
<head>
    <title>Bagaje</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}" />
</head>
<body>
    <header>
        <h1>About</h1>
        <nav>
            <a href="/">Home</a>
            <a href="./sign-in">Sign In</a>
            <a href="./admin">Administrator Tools</a>
        </nav>
    </header>
    <main class="about-container">
        <div id="about-text">
            <p>Welcome to the Bagaje de Aleyda Morales website. Here you can find my latest photography and writings.</p>
        </div>
        <img id="sculpted" src="{{ url_for('static', filename='assets/sculpted.jpg') }}" />
    </main>
    <footer class="links-contact">
        <p>Links and Contact Info</p>
    </footer>
</body>
</html>
